.game-title {
  text-align: center;
  font-size: 40px; /* Adjust the font size as needed */
  color: white;
  margin-bottom: 20px; /* Add some space between the title and board */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4831f6;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 100px); /* Twice the width */
  grid-template-rows: repeat(6, 100px); /* Twice the height */
  gap: 10px; /* Increased gap for visual clarity */
  border: 4px solid black; /* Thicker border */
}

.cell {
  width: 100px; /* Twice the width */
  height: 100px; /* Twice the height */
  border-radius: 50%;
  background-color: #b5b5ba;
  cursor: pointer;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.player-info {
  margin-top: 40px;
  text-align: center;
}

.reset-button {
  padding: 20px 40px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .game-board {
    grid-template-columns: repeat(7, 60px); /* Adjusted for smaller screens */
    grid-template-rows: repeat(6, 60px); /* Adjusted for smaller screens */
  }

  .cell {
    width: 60px; /* Adjusted for smaller screens */
    height: 60px; /* Adjusted for smaller screens */
  }
}